th, td {
    width: 150px;
    border: 1px solid darkgreen;
    text-align: center;
}

table, div {
    width: 870px;
    text-align: center;
    border: 1px solid #025602;
    margin: auto;
    background: rgba(101, 94, 103, 0.7);
    padding-bottom: 2px;
}
caption{
    font-size: 25px;
}
body {
    background: #878194 url(img/fon.jpg);
    color: white;
}

dialog {
    border-radius: 20px;
    background: #e6f1f1;
    text-align: center;
}
h3{
    color: yellow;
}
A {
    color: yellow;
    font-size: 20px;
    padding: 2px;
}