th, td {
    width: 150px;
    border: 1px solid darkgreen;
    text-align: center;
}

table, div {
    width: 900px;
    text-align: center;
    border: 1px solid green;
    margin: auto;
}
caption{
    font-size: 25px;
}
/*body {*/
/*    background: #8d8b92 url(img/54a99795ead1f.jpg); !* Цвет фона и путь к файлу *!*/
/*    color: #fff; !* Цвет текста *!*/
/*}*/
body {
    background-image: url(img/Euro.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
}

dialog {
    border-radius: 20px;
    background: #e6f1f1;
    text-align: center;
}