<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    th, td {
        width: 150px;
        border: 1px solid darkgreen;
        text-align: center;
    }

    table, div {
        width: 900px;
        text-align: center;
        border: 1px solid green;
        margin: auto;
    }

    dialog {
        border-radius: 20px;
        background: #e6f1f1;
        text-align: center;
    }

</style>
<body>
<br>
<div>
    <p>Формирование отчетов</p>
    <label for="startDate">Начальная дата </label><input id="startDate" type="date" name="calendar">
    <label for="endDate">Конечная дата </label><input id="endDate" type="date" name="calendar">
    <label for="currency">Тип Валюты </label><input id="currency" required="required">
    <p>
        <button id="showReport">Сформировать отчет</button>
    </p>
    <hr>
    <p> Завершить работу приложения и сформировать отчет
        <button id="showReportByDay">Отчет за день</button>
    </p>
</div>
<br>
<dialog>
    <table>
        <thead>
        <tr>
            <td>Количество заявок</td>
            <td>Сумма</td>
            <td>Валюта</td>
            <td>Операция</td>
            <td>Дата</td>
        </tr>
        </thead>
        <tbody id="bodyReport">
        </tbody>
    </table>
    <br>
    <button id="close">закрыть окно</button>
</dialog>
<br>
<div id="calculateForm" hidden>
    <label for="buyId"></label><input hidden id="buyId">
    <label for="buyCc"></label><input id="buyCc" disabled>
    <label><select id="act">
        <option>Покупка</option>
        <option>Продажа</option>
    </select></label>
    <label for="sumBuy">Сумма: </label><input id="sumBuy" required="required">
    <label for="phone">Телефон: </label><input id="phone" name="phone" required="required">
    <button id="calculate">Подать заявку</button>
</div>
<div name="rs" id="requestSave" hidden></div>
<br>
<hr>
<table>
    <thead>
    <tr>
        <td>Валюта</td>
        <td>Курс покупки</td>
        <td>Курс продажи</td>
        <td>Дата</td>
    </tr>
    </thead>
    <tbody id="body">
    </tbody>
</table>


<script>

    // Отображение курса

    const baseUrl = "http://localhost:8080/api/v1/exchanger";

    fetch(baseUrl)
        .then(response => response.json())
        .then(json => {
            displayRates(json);
        });

    function displayRates(currencyArr) {
        console.log('currencyArr = ' + currencyArr);
        const tbody = document.querySelector('#body');
        tbody.innerHTML = '';
        currencyArr.forEach(currency => {
            let tr = document.createElement('tr');
            for (const prop in currency) {
                if (prop !== 'id') {
                    let td = document.createElement('td');
                    td.append(document.createTextNode(currency[prop]));
                    tr.append(td);
                }
            }
            tr.append(addButtonExchange(currency.cc));
            tbody.append(tr);
        });
    }

    function addButtonExchange(cc) {
        let td = document.createElement('td');
        let buttonElement = document.createElement("button");
        buttonElement.className = "buy";
        buttonElement.setAttribute("rateCc", cc);
        const text = document.createTextNode("Заявка на обмен " + cc);
        buttonElement.append(text);
        td.append(buttonElement)
        return td;
    }

    // Отображение заявки

    $('tbody').on('click', '.buy', function () {
        let cc = $(this).attr("rateCc");
        console.log(cc);
        fetch(baseUrl + "/" + cc, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
            .then(json => {
                document.getElementById("calculateForm").hidden = false;
                document.querySelector('#buyCc').value = json.cc;
            })
    })

    const baseUrlRequest = "http://localhost:8080/api/v1/exchanger/request";

    document.querySelector("#calculate")
        .addEventListener('click', event => {
            let ccValue = document.querySelector('#buyCc');
            let actionValue = document.querySelector('#act');
            let sumValue = document.querySelector('#sumBuy');
            let phoneNumberValue = document.querySelector('#phone');
            const request = {
                cc: ccValue.value,
                action: actionValue.value,
                sumCurrency: sumValue.value,
                phoneNumber: phoneNumberValue.value
            };
            fetch(baseUrlRequest, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(request)
            }).then(function (response) {
                if (response.status !== 200) {
                    console.log('status = ' + response.status)
                    return Promise.reject(new Error())
                }
                return Promise.resolve(response)
            }).then(response => response.json())
                .then(json => {
                    document.getElementById("requestSave").hidden = false;
                    displayRequest(json);
                })
                .catch(function () {
                    alert('Заявка не сохранена, ошибка заполнения данных')
                })
        });


    function displayRequest(request) {
        console.log("Request = " + request)
        const form = document.querySelector('#requestSave');
        form.innerHTML = '';
        let div = document.createElement('div');
        for (const prop in request) {
            if (prop === 'sumPayment') {
                let p = document.createElement('p');
                p.append(document.createTextNode("Сумма к оплате " + request[prop] + " грн."));
                p.className = 'sumPayment';
                div.append(p);
            } else if (prop === 'phoneNumber') {
                let p = document.createElement('p');
                p.append(document.createTextNode("СМС отправлено на номер " + request[prop]));
                p.className = prop;
                div.append(p);
            } else if (prop === 'id') {
                console.log(request[prop]);
                document.querySelector('#buyId').value = request[prop];
            }
        }
        let label = document.createElement('label');
        label.append(document.createTextNode('Код: '));
        let input = document.createElement('input');
        let buttonElement = document.createElement("button");
        buttonElement.className = "save";
        const text = document.createTextNode("Подтвердить заявку");
        buttonElement.append(text);
        div.append(label, input, buttonElement);
        form.append(div);
    }

    $('div').on('click', '.save', function () {
        const form = document.querySelector('#requestSave');
        let code = form.getElementsByTagName('input')[0].value
        console.log(code)
        let id = document.querySelector('#buyId').value;
        let ccValue = document.querySelector('#buyCc');
        let actionValue = document.querySelector('#act');
        let sumValue = document.querySelector('#sumBuy');
        let phoneNumberValue = document.querySelector('#phone');
        const request = {
            id: id,
            confirmationCode: code,
            cc: ccValue.value,
            action: actionValue.value,
            sumCurrency: sumValue.value,
            phoneNumber: phoneNumberValue.value
        };
        console.log(request)
        fetch(baseUrlRequest + "/" + id, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(request)
        }).then(function (response) {
            if (response.status !== 200) {
                return Promise.reject(new Error())
            }
            return Promise.resolve(response)
        }).then(function() {
            alert('Ваша заявка успешно выполнена.')
        }).catch(function () {
            alert('Неверный код подтверждения, заявка отклонена.')
        }).finally(function () {
            ccValue.value = sumValue.value = phoneNumberValue.value = '';
            document.getElementById("calculateForm").hidden = true;
            document.getElementById("requestSave").hidden = true;
            form.innerHTML = '';
        })
    });


    // Отображение отчетов

    const baseUrlReport = "http://localhost:8080/api/v1/exchanger/request/report";

    document.querySelector("#showReport").addEventListener('click', event => {
        let startDate = document.querySelector('#startDate');
        let endDate = document.querySelector('#endDate');
        let currency = document.querySelector('#currency');
        console.log('startDate = ' + startDate);
        fetch(baseUrlReport + "/" + startDate.value + "/" + endDate.value + "/" + currency.value, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
            .then(json => {
                startDate.value = endDate.value = currency.value = '';
                show(json);
            });
    })

    function show(reportArr) {
        console.log('Report = ' + reportArr);
        const tbody = document.querySelector('#bodyReport');
        tbody.innerHTML = '';
        reportArr.forEach(report => {
            let tr = document.createElement('tr');
            for (const prop in report) {
                let td = document.createElement('td');
                td.append(document.createTextNode(report[prop]));
                tr.append(td);
            }
            tbody.append(tr);
        });
    }

    document.querySelector("#showReportByDay")
        .addEventListener('click', evt => {
            fetch(baseUrlRequest + "/shutDownContext"
                , {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
            )
        })

    document.querySelector("#showReportByDay")
        .addEventListener('click', evt => {
            fetch(baseUrlReport)
                .then(response => response.json())
                .then(json => {
                    show(json);
                });
        })

    const dialog = document.querySelector('dialog');
    document.querySelector("#showReportByDay").onclick =
        document.querySelector("#showReport").onclick = function () {
            dialog.showModal();
        }

    document.querySelector("#close").onclick = function () {
        dialog.close();
    }

</script>
</body>
</html>